@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: oklch(0.985 0 0);
	--color-gray-100: oklch(0.967 0.001 286.375);
	--color-gray-200: oklch(0.92 0.004 286.32);
	--color-gray-300: oklch(0.871 0.006 286.286);
	--color-gray-400: oklch(0.705 0.015 286.067);
	--color-gray-500: oklch(0.552 0.016 285.938);
	--color-gray-600: oklch(0.442 0.017 285.786);
	--color-gray-700: oklch(0.37 0.013 285.805);
	--color-gray-800: oklch(0.274 0.006 286.033);
	--color-gray-900: oklch(0.21 0.006 285.885);
	--color-gray-950: oklch(0.141 0.005 285.823);

	--color-primary-50: oklch(0.97 0.014 254.604);
	--color-primary-100: oklch(0.932 0.032 255.585);
	--color-primary-200: oklch(0.882 0.059 254.128);
	--color-primary-300: oklch(0.809 0.105 251.813);
	--color-primary-400: oklch(0.707 0.165 254.624);
	--color-primary-500: oklch(0.623 0.214 259.815);
	--color-primary-600: oklch(0.546 0.245 262.881);
	--color-primary-700: oklch(0.488 0.243 264.376);
	--color-primary-800: oklch(0.424 0.199 265.638);
	--color-primary-900: oklch(0.379 0.146 265.522);
	--color-primary-950: oklch(0.282 0.091 267.935);

	--color-secondary-50: oklch(97% 0.015 30);
	--color-secondary-100: oklch(92% 0.02 30);
	--color-secondary-200: oklch(86% 0.03 30);
	--color-secondary-300: oklch(80% 0.04 30);
	--color-secondary-400: oklch(74% 0.05 30);
	--color-secondary-500: oklch(68% 0.06 30);
	--color-secondary-600: oklch(60% 0.07 30);
	--color-secondary-700: oklch(52% 0.08 30);
	--color-secondary-800: oklch(40% 0.09 30);
	--color-secondary-900: oklch(30% 0.1 30);
	--color-secondary-950: oklch(20% 0.11 30);

	--font-body: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-display: var(--font-body);
}

@layer base {
  body {
    font-family: var(--font-body);
  }
}
